* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

picture {
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

main {
  padding: 0 1.25rem;
}
