header {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    font-style: italic;
    span {
      font-style: normal;
      font-weight: bold;
    }
  }
}

.home {
  background-image: url(../images/home.jpg);
  background-repeat: no-repeat;
  background-size: 2550px;
  padding-bottom: 950px;
  padding-top: 200px;
  padding-left: 100px;
  color: white;
}
